datasets==3.1.0
einops==0.8.0
ftfy==6.3.1
geom-median==0.1.0
gradio==5.8.0
jaxtyping==0.2.36
matplotlib==3.9.3
nbformat
numpy==1.26.4
pandas==2.2.3
Pillow==11.0.0
plotly==5.24.1
python-dotenv
regex==2024.11.6
requests==2.32.3
scipy==1.14.1
setuptools==75.1.0
torchvision==0.17.2
tqdm==4.67.1
transformer_lens==2.9.1
transformers==4.46.3
umap-learn
wandb==0.19.1
yacs==0.1.8
shortuuid
third_party/config_dataclass-0.3.0-py3-none-any.whl
